@media (max-width:900px){

.hero-grid{

    grid-template-columns:1fr;

    gap:50px;

}

.product-grid{

    grid-template-columns:1fr;

}

.main-nav{

    display:none;

}

.hero{

    min-height:auto;

    padding:70px 0;

}

.hero h1{

    font-size:3.2rem;

}

}
